header
{
    background-color:navy;
    margin-left: 5%;
    margin-right: 5%;
}
body
{
    background-color: lightcyan;
    margin-left: 5%;
    margin-right: 5%;
}

h1,h2,h2
{
    color: black;
    font-family:verdana;
    text-align:center;
}

#mainText
{
    color:black;
    font-family:aial;
    text-align: justify;
    
}


a
{
    font-size:30px;
}

.anchorLarge
{
    color:white;
    font-size:30px;
    padding:15px;
}



